/* set button colors asnd pseudo element glow at root level */
:root {
    --purple-button-color: rgb(33, 4, 51);
    --hover-shadow-color: crimson;
}

/* ELEMENT selectors */
header {
    display: flex;
    flex-wrap: wrap;
}

header h2 {
    font-size: large;
    margin-top: 15px;
    margin-left: 15px;
}

header h2:hover {
    scale: 110%;
    cursor: pointer;
    color: rgb(167, 150, 54);
    box-shadow: 0 5px 15px rgb(167, 150, 54);
    border-radius: 5px;

}

header h2:active {
    transform: translateY(4px);
}


h1 {
    margin-bottom: 25px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    overflow: visible;
    padding: 10px;
    background-color: var(--purple-button-color);
    border-radius: 10px;
    font-size: large;
    margin: 10px;
    color: white;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 5px 15px var(--hover-shadow-color);

}

button:active {
    transform: translateY(4px);
}

label {
    font-size: auto;
}


/* CLASS selectors */

.timer {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 15px;
    font-weight: lighter;
    letter-spacing: 1px;


}

.card {
    height: 75%;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 100px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
}

.card p {
    margin: 0 200px 40px;
}

.hide {
    display: none;
}

.start-btn {
    padding: 15px;
    border-radius: 10px;
    border-color: rgb(33, 4, 51);
    background-color: rgb(33, 4, 51);
    color: white;
    cursor: pointer;
}

.question {
    line-height: 50px;

}


.btn.right {
    background-color: rgb(57, 131, 57);


}

.btn.wrong {
    background-color: rgb(185, 25, 75);
    text-decoration: line-through;
}

.answers {

    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;


}

.checks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

}

.legendBoard {
    text-transform: uppercase;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    border: 3px solid black;
    background-image: radial-gradient(circle at center, purple 0, crimson, purple 90%);
}

.name,
.score {
    flex: 1 35%;
    padding: 10px 0;
    border: 1px solid black;
}


/* ID selectors */
#check-answer {
    color: gray;
    font-style: italic;
}

/* media selectors for responsiveness */
@media screen and (max-width: 575px) {
    .answers {
        grid-template-columns: repeat(1, auto);
        gap: 0;
        margin: 0;

    }

    .card {
        display: flex;
        flex-wrap: wrap;
    }

    .hide {
        display: none;
    }


}