* {
    /* border: 3px solid red; */
}

header {
    display: flex;
    flex-wrap: wrap;
}

header h2 {
    font-size: larger;
    margin-top: 15px;
    margin-left: 15px;
}

header h4 {
    font-weight: lighter;
}

h1 {
    margin-bottom: 25px;
}


/* class selectors */

.timer {
    display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-top: 15px;


}

.card {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
align-items: center;
justify-content: center;
padding: 100px;
line-height: 30px;
font-size: 25px;
text-align: center;
}

.card p {
    margin: 0 200px 40px;
}

.hide {
    display: none;
}

.start-btn {
    padding: 15px;
    border-radius: 10px;
    border-color: rgb(33, 4, 51);
    background-color: rgb(33, 4, 51);
    color: white;
    cursor: pointer;
}

.start-btn:hover {
    box-shadow: 0 5px 15px crimson;

}

.answers {
    
}

/* id selectors */


/* media selectors */
